<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="" id="icon" alt="Tally go website logo" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth full-width" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <div style="float: left;">
                <a class="underlineHover" href="#">Help</a>
            </div>

            <div style="float: right;">
                <a class="underlineHover" href="#">Manage Account</a>&nbsp;
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>


        </div>

    </div>
</div>