<!-- <div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="" id="icon" alt="Tally go website logo" />
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="userName" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" [(ngModel)]="password" placeholder="password">
      <input type="text" id="pin" class="fadeIn fifth" name="login" [(ngModel)]="pin" placeholder="pin">
      <button (click)="login()" type="button" class="fadeIn fourth button-property full-width">Login</button>
    </form>

    <div id="formFooter">
      <div style="float: left;">
        <a class="underlineHover" href="https://www.help.tallysolutions.com/" target="_blank">Help</a>
      </div>

      <div style="float: right;">
        <a class="underlineHover" href="https://www.tallysolutions.com/" target="_blank">Manage
          Account</a>&nbsp;
        <a class="underlineHover" href="https://www.tallysolutions.com/" target="_blank">Forgot Password?</a>
      </div>


    </div>

  </div>
</div> -->


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div id="formHeader">

    </div>
    <div>
      <img src="assets/images/login-logo.png" id="icon" alt="GO" />
    </div>
    <div class="belowLogo">Login to your TallyGO! </div>
    <div class='c'></div>

    <!-- Login Form -->
    <form class="form">
      <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="userName"
        placeholder="Tally.Net Email id" />
      <span class="underline"></span>
      <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="password"
        placeholder="Tally.Net Password" />
      <span class="underline"></span>
      <input type="password" id="pin" class="fadeIn fifth" name="login" [(ngModel)]="pin" placeholder="Pin" />
      <button (click)="login()" type="button" class="fadeIn fourth button-property full-width">
        Login
      </button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div style="float: left;">
        <div><a class="underlineHover" style="padding: 2px 2px 2px 33px;" href="https://www.tallysolutions.com/"
            target="_blank">Manage Account</a>&nbsp; </div>
        <div> <a class="underlineHover" style="padding: 0px 50px 5px 2px;" href="https://www.help.tallysolutions.com/"
            target="_blank">Help</a>
        </div>
      </div>

      <div style="float: right; margin-top: 23px;margin-right: 21px;">
        <a class="underlineHover" href="https://www.tallysolutions.com/" style="text-decoration: underline;"
          target="_blank">Forgot/Reset Password?</a>
      </div>
    </div>
  </div>
</div>