<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <!-- <img src="assets/images/logo.svg" alt="logo" class="logo-dark" />
      <img src="assets/images/logo-light.svg" alt="logo-light" class="logo-light"> -->
      <img src="assets/images/login-logo.png" alt="logo" />
    </a>
    <!-- <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a> -->
    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="" alt="logo" /></a>
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"
      (click)="toggleSidebar()">
      <span class="icon-menu"></span>
    </button>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <h5 class="mb-0 font-weight-medium d-none d-lg-flex" translate>Welcome to TallyGO!</h5>
    <ul class="navbar-nav navbar-nav-right">

      <p style="margin-top: 15px; margin-right: 10px;">Hello, {{username}}</p> <button
        class="btn btn-sm btn-outline-secondary " style="border-radius:30px;color:black;font-weight: 100;"
        (click)="logout()"><img src="assets/images/logout.png" height="15px" width="15px"> Logout </button>


    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      (click)="toggleOffcanvas()">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>